select{
    width:20%;
    height: 30px;
    border:1px solid white;
    border-radius: 3px;
}
input{
    width: 80%;
    max-width: 300px;
    height: 30px;
    border:1px solid blue;
    border-radius: 3px;
}
.middle{
    padding: 20px 0;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    align-items: center;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
